/* 
.projects{
    display: flex;
    width: 100%;
    height: 500px;    
}
.projects>div:first-child,.projects>div:last-child{
    flex-grow:1;
}

.projects>div:nth-child(2){
    display: flex;
    flex-grow: 3; 

    justify-content: space-around;

    align-content: center;
    flex-wrap: wrap;
} */
