.menuContainer{
    display: flex;   
}
.menuContainer>a{
    margin-right: 15px;
    letter-spacing: 1px;
    align-content: center;
    flex-wrap: wrap;
    font-size: 1.8rem;
    color: var(--main-color);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}
.desktopMenu{
    justify-content: end;
    margin-left: 4rem;
    height: 40px;  
}
.mobileMenu{
    height: 13rem;
    /* width: 15rem; */
    /* padding: 10px; */
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 100%;
    /* left: 0; */
    /* left: -300px; */
    transition: left 1s ease;
    /* width: 17%; */
    padding: 1rem 1rem;
    background: rgba(0 0 0 0.8);
    backdrop-filter: blur(20px);
    border-bottom-right-radius: 2rem;
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    /* display: none; */
}
.mobileMenu>a{
    width: 100%;
    flex-wrap: wrap;
    letter-spacing: 2px;
    margin-top: 5px;
    padding-left: 10px;
    text-decoration: none;
}
.mobileMenu>a:hover{
    background-color: var(--main-color);
    color: black;
    border-bottom: 2px solid var(--second-bg-color);
 
}
.icon{
    background-color:rgba(0, 0, 0, 0.9);
    color: var(--main-color);
    font-size: 3.6rem;
}

.activeMenu{
    /* border-bottom: 3px solid var(--main-color); */
    color: white;
}
.mobileMenuBtn{
    color: black;
}
 .activeMenu:hover{
    border-bottom: 3px solid var(--main-color);
    color: var(--main-color);
}