@keyframes home-left-text-anim {
    0%{
        top: -120px; 
        opacity: 0px;      
    }
    100%{
        top: 50px;
        opacity: 1px;       
    }
}
/* @keyframes home-right-img-anim {
    0%{
        top: 50px;
    }
    100%{
        top: -5px
    }
} */

@keyframes home-right-img-anim {
    0%{
        transform: translate(0px, 50px)
    }
    100%{
        transform : translate(0%, -20px)
    }
}

@keyframes hoverwave {
    0%{
        box-shadow: 0 0 0 0 green rgba(255, 21, 52, 0.5);
    }
    100%{
        box-shadow: 0 0 0 8 rgba(231, 28, 55, 0);
    }
    
}

@keyframes service-div-anim {
    0%{
        transform: translate(0px, 80px);
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px);
        opacity: 1;
    }
   
}

@keyframes cursor {
    to{
        border-left: 2px solid black;

    }    
}
@keyframes word {
    0%, 
    20%{
        content: "Front End Developer";
    }
    21%,
    40%{
        content: "React Developer";
    }
    41%,
    60%{
        content: "React Developer";
    }
    61%,
    80%{
        content: "MERN Developer";
    }
    81%,
    100%{
        content: "Software Tester";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%, 
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% +8px);
    }
    
}