body{
    margin: 0;  
    padding: 0;
    box-sizing: border-box; 
}
.mainContainers{
    margin-left: 10%;
    margin-right: 10%;
}

.titleContainerTextAnimation{
    position: relative;
    top: 80px;
    animation: home-left-text-anim 1s;    
}

.titleContainerImage{
    /* position: relative;
    top: -5px; */
    /* byDefault value should be given here means final destination*/
    transform: translate(0%, -5%); 
    animation: home-right-img-anim 1s;
}
.about>span{
    background-color: green;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    animation: hoverwave 1s linear infinite;
}

.serviceAnimation{
    animation: service-div-anim 1s ease;
}