*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none; 
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;   
}

:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

html{
    font-size: 60%;
    overflow-x: hidden;    
}

body{
    background-color: var(--bg-color);
    color: var(--text-color); 
}

/* .mainContainers{
    height: 80vh;
    margin-left: 10%;
    margin-right: 10%;
} */

.titleContainerTextAnimation{
    position: relative;
    top: 50px;
    animation: home-left-text-anim 1s ease;    
}

.titleContainerImage{
    transform: translate(0px, -20px); 
    animation: home-right-img-anim 1s ease;
}
.about>span{
    background-color: green;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    animation: hoverwave 1s linear infinite;
}

.serviceAnimation{
    /* position: relative;
    top: 100px;
    animation: service-div-anim 1s ease; */
    transform: translate(0px, 0px);
    animation: service-div-anim 1s ease;
}