.mainContainer{
    background-image:  url("https://t3.ftcdn.net/jpg/01/99/27/42/240_F_199274227_Ns4t9urrv6kIMmYCiGfBe7NKGRJP8YIM.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;   
    background-size: 50%;
    height: 550px;
}
.titleContainer{
    display: flex;
}

.titleContainer>div{
        flex-grow: 1;
        width: 100%;      
}
    
.titleContainer>div:last-child{
        margin-top: 50px;
        align-content: right;
        position: relative;
        animation: home-left-text-anim 1s;    
}    
    
.titleText>div:first-child{  
    font-size: 2rem;
    display: block;
    flex-grow: 1; 
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3); 
}
.titleText>div:last-child{
    padding: 10px;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

