.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--second-bg-color);
    color: aliceblue;
    font-size: 16px ;
    font-weight: bold;
}